.slider-graph {
  border-radius: 5px;
  height: 2px;

  &::-webkit-slider-thumb {
    appearance: none;
  }
}

#stats {
  position: relative;
  padding: 92px 155px 170px;
  background: #ffffff;

  h2 {
    position: relative;
    margin-bottom: 102px;
    width: fit-content;
    font-family: Poppins, serif;
    text-align: center;
    font-size: 60px;
    line-height: 90px;
    font-weight: 500;
    color: #7c9fff;
  }

  .wrapper {
    position: relative;
    height: 460px;
    display: flex;
    flex-direction: row;

    .graph {
      position: relative;
      height: 100%;
      width: 790px;
      border-radius: 25px;
      background: #f9fbfe;
      box-shadow: 1.8px 1.8px 3.7px rgba(0, 0, 0, 0.025),
      6px 6px 15.9px rgba(0, 0, 0, 0.04),
      27px 27px 68px rgba(0, 0, 0, 0.07);
    }

    .text-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        position: relative;
        margin: 0 92.5px;
        width: 635px;
        font-family: Poppins, serif;
        font-size: 24px;
        font-weight: 500;
        color: #33343b;
      }

      .info {
        position: relative;
        margin-top: 82px;
        height: 20px;
        width: 200px;
        background: mediumpurple;
      }
    }
  }

  .first-wrapper,
  .second-wrapper {
    margin-bottom: 102px;
  }
}
