@import "./graphs";

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #01a2ff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins, serif;
  font-size: 40px;
  color: #f0f3fb;
}

#introduction {
  position: relative;
  width: 100vw;
  padding: 339px 0 380px;
  background: url("../img/introductionBackground1920.png");
  background-size: cover;

  @media screen and (max-width: 1450px) {
    padding: 275px 0 213px;
    background: url("../img/introductionBackground1440.png");
    background-size: cover;
  }

  .logo-wrapper {
    position: absolute;
    top: 50px;
    left: 50px;
    height: 31px;

    @media screen and (max-width: 1450px) {
      height: 24px;
    }

    img {
      position: relative;
      height: 100%;
      background-size: cover;
    }
  }

  .us-wrapper {
    position: absolute;
    top: 62px;
    right: 62px;

    @media screen and (max-width: 1450px) {
      top: 52px;
      right: 25px;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;

      h4 {
        font-family: Poppins, serif;
        font-size: 25px;
        font-weight: normal;
        color: #2f2a2e;

        @media screen and (max-width: 1450px) {
          font-size: 15px;
        }

      }
    }
  }

  .wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title-wrapper {
      position: relative;
      left: 150px;

      @media screen and (max-width: 1450px) {
        left: 118px;
      }

      h1 {
        position: relative;
        margin-bottom: 16px;
        font-family: Poppins, serif;
        font-size: 90px;
        font-weight: 500;
        text-align: left;
        color: #7c9fff;
        line-height: 110px;

        @media screen and (max-width: 1450px) {
          margin-bottom: 0;
          font-size: 80px;
          line-height: 88px;
        }

      }

      h4 {
        position: relative;
        margin-bottom: 24px;
        font-family: Poppins, serif;
        font-size: 40px;
        font-weight: 500;
        text-align: left;
        color: #33343b;

        @media screen and (max-width: 1450px) {
          margin-bottom: 0;
          font-size: 30px;
          line-height: 70px;
        }

      }

      h5 {
        position: relative;
        font-family: Poppins, serif;
        font-size: 25px;
        font-weight: normal;
        text-align: left;
        color: #33343b;

        @media screen and (max-width: 1450px) {
          font-size: 15px;
        }

      }
    }
  }

  .scroll-wrapper {
    position: absolute;
    bottom: 52px;
    left: 50%;
    height: 173px;
    width: 54px;
    transform: translate(-50%);
    background: url("../img/introductionScoll.png");
    background-size: cover;

    @media screen and (max-width: 1450px) {
      bottom: 32px;
      height: 134px;
      width: 42px;
      background: url("../img/introductionScoll1440.png");
      background-size: cover;
    }

  }

}

#study {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 61px;
  background: #f9fbfe;

  h2 {
    position: relative;
    margin: 68px auto 0;
    font-family: Poppins, serif;
    font-size: 60px;
    font-weight: 500;
    color: #7c9fff;

    @media screen and (max-width: 1450px) {
      margin: 55px auto 0;
      font-size: 50px;
    }

  }

  h4 {
    position: relative;
    margin: 11px auto 0;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 28px;
    font-weight: 500;
    color: #33343b;

    @media screen and (max-width: 1450px) {
      margin: 24px auto 0;
      font-size: 28px;
    }

  }

  .wrapper {
    position: relative;
    margin-top: 50px;

    @media screen and (max-width: 1450px) {
      margin-top: 24px;
    }

    p {
      position: relative;
      margin: 0 auto;
      width: 1013px;
      text-align: center;
      font-family: Poppins, serif;
      font-size: 20px;
      font-weight: 400;
      color: #33343b;

      @media screen and (max-width: 1450px) {
        font-size: 15px;
      }

    }

    .first-paragraph {
      color: #8e8e8e;
    }

    .middle-text {
      position: relative;
      width: 947px;
      margin: 54px auto;
      text-align: center;
      font-family: Poppins, serif;
      font-size: 21px;
      font-weight: 500;
      color: #9dc2ff;

      @media screen and (max-width: 1450px) {
        margin: 37px auto;
        font-size: 18px;
      }

    }
  }
}

#definition {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #ffffff;
  flex-direction: column;

  .curveImage {
    position: relative;
    height: 120px;
    width: 100vw;
    background: url("../img/curveDefinition.png") no-repeat;
    background-size: cover;

    @media screen and (max-width: 1450px) {
      background: url("../img/curveDefinition1440.png") no-repeat;
      background-size: cover;
    }

  }

  .wrapper {
    position: relative;
    width: 1475px;
    margin: 132px auto 128px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (max-width: 1450px) {
      width: 1150px;
    }

    .left-wrapper,
    .middle-wrapper,
    .right-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 25px;
      background: #ffffff;
      //transition: transform 0.8s;
      //transform-style: preserve-3d;
      box-shadow: 1.8px 1.8px 3.7px rgba(0, 0, 0, 0.025),
      6px 6px 15.9px rgba(0, 0, 0, 0.04),
      27px 27px 68px rgba(0, 0, 0, 0.07);

      &:hover {
       // transform: rotateY(180deg);
      }

      .image {
        position: relative;
        margin: 37px 148px 30px;
        height: 120px;
        width: 120px;

        @media screen and (max-width: 1450px) {
          margin: 26px 112px;
          height: 88px;
          width: 88px;
        }
      }

      h4 {
        font-family: Poppins, serif;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin: 0 auto;
        color: #04081f;

        @media screen and (max-width: 1450px) {
          font-size: 20px;
        }
      }

      p {
        position: relative;
        margin: 20px auto 25px;
        font-family: Poppins, serif;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        width: 330px;
        color: #050d3944;

        @media screen and (max-width: 1450px) {
          margin: 18px auto 15px;
          width: 220px;
          font-size: 13px;
        }
      }

      button {
        position: relative;
        margin: 0 auto;
        height: 30px;
        width: 115px;
        border-radius: 20px;
        background: transparent;

        font-family: Poppins, serif;
        font-size: 15px;

        @media screen and (max-width: 1450px) {
          font-size: 13px;
        }
      }
    }

    .middle-wrapper {
      transform: translateY(-134px);

      p {
        width: 260px;
      }
    }

    .right-wrapper {
      p {
        width: 310px;
      }
    }
  }

}

#map {
  position: relative;
  height: 1082px;
  width: 100vw;
  background: rgb(193, 214, 245);

  @media screen and (max-width: 1450px) {
    height: 730px;
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1 !important;
    transition: 0.65s ease-in-out;

    &.active {
      position: absolute;
      left: -665px;
      transition: 0.65s ease-in-out;

      @media screen and (max-width: 1450px) {
        left: -450px;
      }

    }

    .map-info-wrapper {
      position: relative;
      padding-left: 75px;
      top: 0;
      left: 0;
      height: 100%;
      width: 625px;
      background: #f9fbfe99;

      @media screen and (max-width: 1450px) {
        padding-left: 41px;
        width: 452px;
      }

      h2 {
        position: relative;
        margin-top: 60px;
        width: 615px;
        font-family: Poppins, serif;
        font-weight: 500;
        font-size: 53px;
        line-height: 56px;
        color: #04081f;

        @media screen and (max-width: 1450px) {
          margin-top: 46px;
          width: 383px;
          font-size: 34px;
          line-height: 41px;
        }

      }

      .info-wrapper {
        position: relative;
        margin-top: 76px;
        width: 425px;
        padding: 24px;
        display: flex;
        flex-direction: column;

        background: rgba(250, 251, 252, 0.3);
        box-shadow: 1.8px 1.8px 3.7px rgba(0, 0, 0, 0.025),
        6px 6px 15.9px rgba(0, 0, 0, 0.04),
        27px 27px 68px rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border-radius: 20px;

        @media screen and (max-width: 1450px) {
          margin-top: 34px;
          width: 300px;
          padding: 15px;
        }

        h4 {
          position: relative;
          margin: 0;
          font-family: Poppins, serif;
          font-size: 25px;
          font-weight: 500;
          color: #24242c;

          @media screen and (max-width: 1450px) {
            font-size: 15px;
          }

        }

        p {
          position: relative;
          margin-top: 25px;
          font-family: Poppins, serif;
          font-weight: 400;
          font-size: 19px;
          color: #050d3955;

          @media screen and (max-width: 1450px) {
            margin-top: 18px;
            font-size: 13px;
          }

        }

        .medals-global-wrapper {
          position: relative;
          margin-top: 7px;
          margin-bottom: 13px;
          height: 45px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;


          @media screen and (max-width: 1450px) {
            margin-top: 5px;
            height: 30px;
          }

          .first-wrapper,
          .second-wrapper,
          .third-wrapper {
            position: relative;
            padding: 0 5px 0 7px;
            top: -2.75px;
            height: 100%;
            user-select: none;
            background: transparent;
            border: 3px solid transparent;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            filter: grayscale(100%);
            transition: 0.35s ease-in-out;

            &:hover {
              filter: none;

              h5 {
                transition: 0.35s ease-in-out;
                color: #04081f;
              }
            }

            &.active {
              transition: 0.35s ease-in-out;
              filter: none;
              border: 3px solid #ff0010;

              h5 {
                transition: 0.35s ease-in-out;
                color: #04081f;
              }
            }

            h5 {
              position: relative;
              font-family: Poppins, serif;
              font-weight: 500;
              font-size: 18px;
              color: #04081f44;
              transition: 0.35s ease-in-out;

              @media screen and (max-width: 1450px) {
                font-size: 13px;
              }

            }

            span {
              position: relative;
              background: #ff002032;
              border-radius: 100px;
              border: 0.5px solid #ff0010;
            }

            .first-span {
              height: 16px;
              width: 16px;
              margin-right: 27px;

              @media screen and (max-width: 1450px) {
                height: 10px;
                width: 10px;
                margin-right: 13px;
              }

            }

            .second-span {
              height: 26px;
              width: 26px;
              margin-right: 18px;

              @media screen and (max-width: 1450px) {
                height: 17px;
                width: 17px;
                margin-right: 9px;
              }

            }

            .third-span {
              height: 32px;
              width: 32px;
              margin-right: 11px;

              @media screen and (max-width: 1450px) {
                height: 21px;
                width: 21px;
                margin-right: 6px;
              }

            }
          }
        }

        .pib-global-wrapper {
          position: relative;
          margin-top: 7px;
          margin-bottom: 10px;
          height: 45px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          @media screen and (max-width: 1450px) {
            margin-top: 5px;
            height: 30px;
          }

          .first-wrapper,
          .second-wrapper,
          .third-wrapper {
            position: relative;
            padding: 0 5px 0 7px;
            top: -2.75px;
            height: 100%;
            user-select: none;
            background: transparent;
            border: 3px solid transparent;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
            filter: grayscale(100%);
            transition: 0.35s ease-in-out;

            &:hover {
              filter: none;

              h5 {
                transition: 0.35s ease-in-out;
                color: #04081f;
              }
            }

            &.active {
              transition: 0.35s ease-in-out;
              filter: none;
              border: 3px solid #9ec3ff;

              h5 {
                transition: 0.35s ease-in-out;
                color: #04081f;
              }
            }

            h5 {
              position: relative;
              font-family: Poppins, serif;
              font-weight: 500;
              font-size: 18px;
              color: #04081f44;
              transition: 0.35s ease-in-out;

              @media screen and (max-width: 1450px) {
                font-size: 13px;
              }

            }

            span {
              position: relative;
              height: 25px;
              width: 38px;
              border-radius: 5px;
              margin-right: 8px;

              @media screen and (max-width: 1450px) {
                height: 16px;
                width: 25px;
                margin-right: 5px;
              }

            }

            .first-span {
              position: relative;
              background: #b4d6ff;
            }

            .second-span {
              background: #9dc2ff;
            }

            .third-span {
              background: #7c9fff;
            }
          }
        }
      }

      .pib-medals-wrapper {
        position: relative;
        margin: 92px 0 123px;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 1450px) {
          margin: 29px 0 21px;
        }

        .pib-wrapper,
        .medals-wrapper {
          position: relative;
          height: 146px;
          width: 202px;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          user-select: none;

          @media screen and (max-width: 1450px) {
            height: 95px;
            width: 131px;
          }

          img {
            position: relative;
            height: 56px;

            @media screen and (max-width: 1450px) {
              height: 36px;
            }

          }

          h4 {
            position: relative;
            margin-top: 21px;
            font-family: Poppins, serif;
            font-size: 18px;
            font-weight: 600;
            text-align: center;

            @media screen and (max-width: 1450px) {
              margin-top: 14px;
            }

          }
        }

        .pib-wrapper {
          background: transparent;
          border: 4px solid #7c9fff;
          margin-right: 50px;
          transition: 0.35s ease-in-out;

          @media screen and (max-width: 1450px) {
            margin-right: 33px;
          }

          &.active {
            background: #7c9fff;
            transition: 0.35s ease-in-out;

            h4 {
              color: #ffffff;
            }
          }

          h4 {
            color: #7c9fff;
          }
        }

        .medals-wrapper {
          background: transparent;
          border: 4px solid #fd4c4c;
          transition: 0.35s ease-in-out;

          &.active {
            background: #fd4c4c;
            transition: 0.35s ease-in-out;

            h4 {
              color: #ffffff;
            }
          }

          h4 {
            color: #fd4c4c;
          }
        }
      }

      .input-wrapper {
        position: relative;
        margin-top: 60px;
        width: 475px;

        @media screen and (max-width: 1450px) {
          margin-top: 22px;
          width: 295px;
        }

        .dates {
          position: relative;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h4 {
            position: relative;
            font-family: Poppins, serif;
            font-size: 15px;
            font-weight: 400;
            color: #28215d;

            @media screen and (max-width: 1450px) {
              font-size: 12px;
            }

          }

          .realDate {
            position: absolute;
            left: 46.5%;
            transform: translate(-50%);
            font-family: Poppins, serif;
            font-size: 15px;
            font-weight: 400;
            color: #28215d;

            @media screen and (max-width: 1450px) {
              font-size: 12px;
            }

          }
        }

        input[type="range"] {
          height: 25px;
          -webkit-appearance: none;
          width: 100%;
          background: transparent;
        }

        input[type="range"]:focus {
          outline: none;
        }

        input[type="range"]::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: #28215d;
          border-radius: 50px;
        }

        input[type="range"]::-webkit-slider-thumb {
          border: 4px solid #28215d;
          height: 15px;
          width: 15px;
          border-radius: 50px;
          background: #fefefe;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -6.5px;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
          background: #28215d;
        }

        input[type="range"]::-moz-range-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: #28215d;
          border-radius: 50px;
        }

        input[type="range"]::-moz-range-thumb {
          border: 4px solid #28215d;
          height: 15px;
          width: 15px;
          border-radius: 50px;
          background: #fefefe;
          cursor: pointer;
        }

        input[type="range"]::-ms-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent;
        }

        input[type="range"]::-ms-fill-lower {
          background: #28215d;
          border-radius: 100px;
        }

        input[type="range"]::-ms-fill-upper {
          background: #28215d;
          border-radius: 100px;
        }

        input[type="range"]::-ms-thumb {
          margin-top: 1px;
          border: 4px solid #28215d;
          height: 15px;
          width: 15px;
          border-radius: 50px;
          background: #fefefe;
          cursor: pointer;
        }

        input[type="range"]:focus::-ms-fill-lower {
          background: #28215d;
        }

        input[type="range"]:focus::-ms-fill-upper {
          background: #28215d;
        }

        h2 {
          position: relative;
          width: auto;
          //left: 50%;
          margin-left: -20px;
        }
      }

      .disclaimer {
        position: relative;
        width: fit-content;
        margin-top: 29px;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 1450px) {
          margin-top: 19px;
          margin-bottom: 40px;
        }

        img {
          position: relative;
          height: 15px;
          width: 15px;
          margin-right: 12px;

          @media screen and (max-width: 1450px) {
            height: 10px;
            width: 10px;
          }

        }

        p {
          position: relative;
          width: 428px;
          font-family: Poppins, serif;
          font-weight: 400;
          font-size: 13px;
          line-height: 14px;
          color: #bcc1c1;

          @media screen and (max-width: 1450px) {
           font-size: 11px;
          }

        }
      }
    }

    .arrow-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;

      .wrapper {
        position: relative;
        left: 0;
        background: #f9fbfe;
        transform: translateX(-18px);
        height: 34px;
        width: 34px;
        border: 3px solid #9dc2ff;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        @media screen and (max-width: 1450px) {
          height: 23px;
          width: 23px;
          border: 2px solid #9dc2ff;
        }

        &.active {
          transform: rotate(-180deg) translateX(18px);
        }

        img {
          position: relative;
          transform: translateX(-1px);
          height: 15px;

          @media screen and (max-width: 1450px) {
            height: 12px;
          }

        }
      }
    }
  }

  .seasons-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px 0;
    width: 182px;
    background: #f9fbfe;
    border-radius: 100px 0 0 100px;
    z-index: 1 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border: 1px solid #7c9fff;

    @media screen and (max-width: 1450px) {
      width: 120px;
    }

    img {
      @media screen and (max-width: 1450px) {
        height: 20px;
      }
    }

    p {
      position: relative;
      width: 95px;
      font-family: Poppins, serif;
      font-size: 19px;
      font-weight: 500;
      text-align: center;
      color: #7c9fff;

      @media screen and (max-width: 1450px) {
        width: 60px;
        font-size: 11px;
        line-height: 14px;
      }

    }
  }

  .mapboxgl-ctrl-logo,
  .mapboxgl-ctrl-bottom-right {
    display: none !important;
  }
}

#knowledge {
  position: relative;
  padding-top: 78px;
  padding-bottom: 110px;
  background: #f9fbfe;

  h2 {
    position: relative;
    font-family: Poppins, serif;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    color: #2f2f2f;
  }

  p {
    position: relative;
    margin: 27px auto 0;
    width: 820px;
    font-family: Poppins, serif;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    color: #33343b;

    @media screen and (max-width: 1024px) {
      width: 600px;
    }

  }

  .wrapper {
    position: relative;
    margin: 90px auto 0;
    width: 683px;
    border-radius: 25px;
    box-shadow: 1.8px 1.8px 3.7px rgba(0, 0, 0, 0.025),
    6px 6px 15.9px rgba(0, 0, 0, 0.04),
    27px 27px 68px rgba(0, 0, 0, 0.07);

    @media screen and (max-width: 1024px) {
      width: 600px;
    }

    .swiper-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      border-radius: 25px;

      .swiper-slide {
        position: relative;
        border-radius: 25px;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        h4 {
          position: relative;
          margin: 41px auto 50px;
          font-family: Poppins, serif;
          font-size: 28px;
          font-weight: 500;
          color: #2F2F2F;
          text-align: center;
        }

        .wrapper {
          position: relative;
          height: 329px;
          margin-top: 0;
          display: flex;
          flex-direction: row;
          box-shadow: none;

          .first-part {
            position: relative;
            height: 100%;
            width: 50%;

            p {
              position: relative;
              width: 265px;
              margin: 40px 0 0 54px;
              font-family: Poppins, serif;
              font-size: 17px;
              font-weight: 400;
              color: #050D3960;
              text-align: left;
            }

          }

          .second-part {
            position: relative;
            height: 100%;
            width: 50%;
          }

          img {
            position: absolute;
            top: 6px;
            right: 0;
            height: 100%;
          }

        }

      }

    }

  }

  .arrowWrapper {
    position: absolute;
    bottom: 285px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;

    img {
      position: relative;
      height: 36px;
      width: 36px;
      cursor: pointer;
    }

    .nextSlide {
      transform: rotate(180deg);
    }

  }

}

#skills {
  position: relative;
  width: 100vw;
  background: #ffffff;

  .global-wrapper {
    position: relative;
    margin-top: 150px;
    width: fit-content;
    display: flex;
    flex-direction: row;

    .img-wrapper {
      position: relative;
      width: 1000px;

      @media screen and (max-width: 1450px) {
        width: 800px;
      }

      img {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: cover;
      }
    }
  }

  .wrapper {
    position: relative;
    margin-top: 35px;
    transform: translateX(-40px);

    h2 {
      position: relative;
      width: 634px;
      font-family: Poppins, serif;
      font-size: 60px;
      line-height: 90px;
      font-weight: 500;
      color: #2F2F2F;

      @media screen and (max-width: 1450px) {
        font-size: 48px;
        line-height: 60px;
      }

    }

    p {
      position: relative;
      margin: 31px 0 40px;
      width: 522px;
      font-family: Poppins, serif;
      font-size: 19px;
      font-weight: 400;
      color: #050D3953;

      @media screen and (max-width: 1450px) {
        font-size: 18px;
      }

    }

    button {
      position: relative;
      height: 50px;
      width: 265px;
      border: none;
      border-radius: 33px;
      background: #7c9fff;
      font-family: Poppins, serif;
      font-size: 30px;
      font-weight: 500;
      color: #ffffff;
      cursor: pointer;

      @media screen and (max-width: 1450px) {
        height: 37px;
        width: 199px;
        font-size: 22px;
      }

    }
  }
}

#footer {
  position: relative;
  padding: 100px 0;
  width: 100vw;
  background: #24242c;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1450px) {
    padding: 75px 0;
  }

  @media screen and (max-width: 1024px) {
    padding: 50px 0;
  }

  .wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;

    .left-part,
    .middle-part,
    .right-part {
      position: relative;
      display: flex;
      flex-direction: column;

      h3 {
        position: relative;
        font-family: Poppins, serif;
        font-size: 35px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 13px;
        cursor: pointer;

        @media screen and (max-width: 1450px) {
          font-size: 25px;
        }

        @media screen and (max-width: 700px) {
          font-size: 20px;
        }

        @media screen and (max-width: 500px) {
          font-size: 16px;
        }

      }

      p {
        position: relative;
        font-family: Poppins, serif;
        font-size: 19px;
        font-weight: normal;
        color: #ffffff55;

        @media screen and (max-width: 1450px) {
          font-size: 15px;
        }

        @media screen and (max-width: 1024px) {
          display: none;
        }

      }
    }

    .left-part {
      width: 618px;

      @media screen and (max-width: 1450px) {
        width: 451px;
      }

      @media screen and (max-width: 1024px) {
        width: fit-content;
      }

    }

    .middle-part {
      width: 481px;

      @media screen and (max-width: 1450px) {
        width: 351px;
      }

      @media screen and (max-width: 1024px) {
        width: fit-content;
      }

    }

    .right-part {
      width: 403px;

      @media screen and (max-width: 1450px) {
        width: 293px;
      }

      @media screen and (max-width: 1024px) {
        width: fit-content;
      }

    }
  }
}
