* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

@import "./introduction";
@import "./study";
@import "./definition";
@import "./map";
@import "./graphs";
@import "./knowledge";
@import "./skills";
@import "./footer";
